﻿/* general CSS */

html{
    overflow-x: hidden;
}

body {
    color:#524d4d;
	font-size:14px;
    background-color:white;
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
}

/* Menu bar */

.topa {
    display: inline-block;
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.navbar {
    padding: 0px 25px;
}

.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:focus, .navbar .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #0f4693;
}

.navbar .navbar-nav > li > a.nav-link {
    color: #fff;
    font-size: 18px;
    padding: 15px 15px;
}

.navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:hover {
    color: #fff !important;  
}

.dropdown-menu > a:focus, .dropdown-menu > a:hover {
    color: white;
    text-decoration: none;
    background-color: #0f4693;
}

.navbar-nav .dropdown-menu{
    left:15px;
}

/* general css*/

.content{
    margin-top:85px;  /* header with the header height */
}

/* Buttons */

.btn-white {
    color: black !important;
    background-color: white;
    border-radius: 2px;
    font-weight: bold;
    padding: 5px 10px;
}

.btn-white:hover, .btn-white:focus {
    box-shadow: 5px 5px 15px 7px black;
    border: none;
}

.btn-transparent{
    color: #000;
    background-color: transparent;
    border-color: #ccc;
}

.btn-transparent:hover, .btn-transparent:focus{
    box-shadow: none;
}

/* Tables */




/* Data tables */

/* End of  general css */

/* Padding */

.p0{
    padding:0px;
}

.p5{
    padding:5px;
}

.p7 {
    padding: 7px;
}

.p10{
    padding:10px;
}

.p15{
    padding:15px;
}

.p20{
    padding:20px;
}

.p25{
    padding:25px;
}

.p30{
    padding:30px;
}

.p35{
    padding:35px;
}

.p40{
    padding:40px;
}

.p45{
    padding:45px;
}

.p50{
    padding:50px;
}

/* end of padding */

/* padding Top */

.pt0{
    padding-top:0px;
}

.pt2{
    padding-top:2px;
}

.pt5{
    padding-top:5px;
}

.pt10{
    padding-top:10px;
}

.pt15{
    padding-top:15px;
}

.pt20{
    padding-top:20px;
}

.pt25{
    padding-top:25px;
}

.pt30{
    padding-top:30px;
}

.pt35{
    padding-top:35px;
}

.pt40{
    padding-top:40px;
}

.pt45{
    padding-top:45px;
}

.pt50{
    padding-top:50px;
}

/* end of padding Top */

/* padding bottom */

.pb0{
    padding-bottom:0px;
}

.pb1{
    padding-bottom:1px;
}

.pb5{
    padding-bottom:5px;
}

.pb10{
    padding-bottom:10px;
}

.pb15{
    padding-bottom:15px;
}

.pb20{
    padding-bottom:20px;
}

.pb25{
    padding-bottom:25px;
}

.pb30{
    padding-bottom:30px;
}

.pb35{
    padding-bottom:35px;
}

.pb40{
    padding-bottom:40px;
}

.pb45{
    padding-bottom:45px;
}

.pb50{
    padding-bottom:50px;
}

/* end of padding bottom */

/* padding right */

.pr0{
    padding-right:0px;
}

.pr5{
    padding-right:5px !important;
}

.pr10{
    padding-right:10px;
}

.pr15{
    padding-right:15px;
}

.pr20{
    padding-right:20px;
}

.pr25{
    padding-right:25px;
}

.pr30{
    padding-right:30px;
}

.pr35{
    padding-right:35px;
}

.pr40{
    padding-right:40px;
}

.pr45{
    padding-right:45px;
}

.pr50{
    padding-right:50px;
}

/* end of padding right */

/* padding left */

.pl0{
    padding-left:0px;
}

.pl5{
    padding-left:5px;
}

.pl10{
    padding-left:10px;
}

.pl15{
    padding-left:15px;
}

.pl20{
    padding-left:20px;
}

.pl25{
    padding-left:25px;
}

.pl30{
    padding-left:30px;
}

.pl35{
    padding-left:35px !important;
}

.pl40{
    padding-left:40px;
}

.pl45{
    padding-left:45px;
}

.pl50{
    padding-left:50px;
}

.pl95{
    padding-left:95px;
}

.pl80{
    padding-left: 80px;
}

/* end of padding left */

/* Margin */

.m0{
    margin:0px;
}

.m5{
    margin:5px;
}

.m10{
    margin:10px;
}

.m15{
    margin:15px;
}

.m20{
    margin:20px;
}

.m25{
    margin:25px;
}

.m30{
    margin:30px;
}

.m35{
    margin:35px;
}

.m40{
    margin:40px;
}

.m45{
    margin:45px;
}

.m50{
    margin:50px;
}

/* end of margin */

/* margin top */

.mt0{
    margin-top:0px;
}

.mt5{
    margin-top:5px !important;
}

.mt10{
    margin-top:10px;
}

.mt15{
    margin-top:15px;
}

.mt20{
    margin-top:20px;
}

.mt25{
    margin-top:25px;
}

.mt30{
    margin-top:30px;
}

.mt35{
    margin-top:35px;
}

.mt40{
    margin-top:40px;
}

.mt45{
    margin-top:45px;
}

.mt50{
    margin-top:50px;
}

.mt80{
    margin-top:80px;
}

/* end of margin top */

/* margin bottom */

.mb0{
    margin-bottom:0px;
}

.mb5{
    margin-bottom:5px;
}

.mb10{
    margin-bottom:10px;
}

.mb15{
    margin-bottom:15px;
}

.mb20{
    margin-bottom:20px;
}

.mb25{
    margin-bottom:25px;
}

.mb30{
    margin-bottom:30px;
}

.mb35{
    margin-bottom:35px;
}

.mb40{
    margin-bottom:40px;
}

.mb45{
    margin-bottom:45px;
}

.mb50{
    margin-bottom:50px;
}

.mb80{
    margin-bottom:80px;
}

/* end of margin bottom */

/* margin right */

.mr0{
    margin-right:0px;
}

.mr5{
    margin-right:0px;
}

.mr10{
    margin-right:10px;
}

.mr15{
    margin-right:15px;
}

.mr20{
    margin-right:20px;
}

.mr25{
    margin-right:25px;
}

.mr30{
    margin-right:30px;
}

.mr35{
    margin-right:35px;
}

.mr40{
    margin-right:40px;
}

.mr45{
    margin-right:45px;
}

.mr50{
    margin-right:50px;
}

/* end of margin right */

/* margin left */

.ml0{
    margin-left:0px;
}

.ml5{
    margin-left:5px;
}

.ml10{
    margin-left:10px;
}

.ml15{
    margin-left:15px;
}

.ml20{
    margin-left:20px;
}

.ml25{
    margin-left:25px;
}

.ml30{
    margin-left:30px;
}

.ml35{
    margin-left:35px;
}

.ml40{
    margin-left:40px;
}

.ml45{
    margin-left:45px;
}

.ml50{
    margin-left:50px;
}

/* end of margin left */

::placeholder {
    color: #ccc !important;
    font-size: 13px;
    font-weight: normal;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc !important;
    font-size: 13px;
    font-weight: normal;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc !important;
    font-size: 13px;
    font-weight: normal;
}

/* font Size */

.fs-smaller{
    font-size: smaller;
}

.fs10{
    font-size: 10px !important;
}

.fs11{
    font-size: 11px !important;
}

.fs12{
    font-size: 12px !important;
}

.fs13{
    font-size: 13px !important;
}

.fs14{
    font-size: 14px !important;
}

.fs15{
    font-size: 15px !important;
}

.fs16{
    font-size: 16px !important;
}

.fs17{
    font-size: 17px !important;
}

.fs18{
    font-size: 18px !important;
}

.fs19{
    font-size: 19px !important;
}

.fs20{
    font-size: 20px !important;
}

.fs21{
    font-size: 21px !important;
}

.fs22{
    font-size: 22px !important;
}

.fs23{
    font-size: 23px !important;
}

.fs25{
    font-size: 25px !important;
}

.fs30{
    font-size: 30px !important;
}

/* end of font size */

/* Line Height */

.lh10{
    line-height: 10px;
}

.lh15{
    line-height: 15px;
}

.lh16{
    line-height: 16px;
}

.lh20{
    line-height: 20px;
}

.lh22{
    line-height: 22px;
}

.lh25{
    line-height: 25px;
}

.lh30{
    line-height: 30px;
}

.lh35{
    line-height: 35px !important;
}

.lh40{
    line-height: 40px;
}

.lh45{
    line-height: 45px;
}

.lh50{
    line-height: 50px;
}

/* End of Line Height */

.h41{
    height: 41px;
}

/* border radius */

.border-radius-0{
    border-radius: 0px !important;
}

.border-radius-5{
    border-radius: 5px !important;
}

.border-radius-10{
    border-radius: 10px;
}

.border-radius-15{
    border-radius: 15px;
}

.border-radius-20{
    border-radius: 20px;
}

.border-radius-25{
    border-radius: 25px;
}

.border-radius-30{
    border-radius: 30px;
}

.border-radius-35{
    border-radius:-35px;
}

.border-radius-40{
    border-radius: 40px;
}

.border-radius-45{
    border-radius: 45px;
}

.border-radius-50{
    border-radius: 50px;
}

/* End of the border radius */

/* text colors */

.text-red{
    color: red;
}

.text-black{
    color: #000;
}

.text-grey{
    color: #ababab;
}

.text-violet {
    color: #784d98;
}

.text-skyblue {
    color: #51cff1;
}

.text-orange{
    color: #f89912;
}

.text-orange:hover{
    color: #efad50;
    text-decoration: none;
}

/* end of text colors */

.inner-shadow{
    -webkit-box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 18%);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 18%);
}

.shadow-small {
    -webkit-box-shadow: 0px 0px 5px 0px rgb(65 0 113 / 23%);
    -moz-box-shadow: 0px 0px 5px 0px rgba(65,0,113,0.23);
    box-shadow: 0px 0px 5px 0px rgb(65 0 113 / 23%);
}

/* text decoration underline */

.text-decoration-underline{
    text-decoration: underline;
}

.text-decoration-none{
    text-decoration: none;
}

/* end of text decoration underline */

.bg-violet{
    background-color: #9d4bab;
}

.btn-violet {
    background-color: #8635c2;
    border: 2px solid #fff;
    color: #fff;
}

.border_violet-4 {
    border: 4px solid #915eb7;
}

.position-relative{
    position: relative;
}

label {
    font-size: 16px;
}


/*media Queries*/



/* for medium screen */


@media (min-width:992px) and (max-width:1199px) {



}


/* for small screen */

@media (min-width:768px) and (max-width:991px) {



}



/* for Ipad */

@media (width:768px) and (height:1024px) {


	
}



/* for mobile screen landscape */

@media (min-width:577px) and (max-width:767px) {


	
}


/* for mobile screen portrait */

@media (min-width:300px) and (max-width:576px) {
    .btn-transparent{
        font-size: 13px;
    }
}








