header{
    font-family: 'Kanit', sans-serif;
}
.header-bg{
    /*background-color: #0d151f;*/
    /*background-image: linear-gradient(to right, #5167db , #892eca);*/
    background: linear-gradient( 47deg,#f9b25e,#f72ba6);
}
.header-top-layer{
    background: -webkit-linear-gradient(45deg, #fbfbfb 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(135deg, #f95657 90%, #fbfbfb 90%);
    background: -o-linear-gradient(45deg, #fbfbfb 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(135deg, #f95657 90%, #fbfbfb 90%);
    background: -moz-linear-gradient(45deg, #fbfbfb 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(135deg, #f95657 90%, #fbfbfb 90%);
    background: linear-gradient(45deg, #fbfbfb 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(135deg, #f95657 90%, #fbfbfb 90%);
    height: 70px;
    line-height: 30px;
}
.header-bottom-layer{
    background: -webkit-linear-gradient(135deg, #fbfbfb 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(45deg, #f95657 90%, #fbfbfb 90%);
    background: -o-linear-gradient(135deg, #fbfbfb 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(45deg, #f95657 90%, #fbfbfb 90%);
    background: -moz-linear-gradient(135deg, #fbfbfb 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(45deg, #f95657 90%, #fbfbfb 90%);
    background: linear-gradient(135deg, #fbfbfb 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(45deg, #f95657 90%, #fbfbfb 90%);
    height: 70px;
    line-height: 30px;
}
.icons-in-circle{
    padding: 3px;
    border: 2px solid #fff;
    border-radius: 20px;
}
p{
    font-size: 16px;
    margin-bottom: 20px;
}
canvas {
    cursor: crosshair;
    display: block;
    position: absolute;
    top: 115%;
    height: 70%;
    width: 100%;
    z-index: 9;
}
.submenu.l-menu {
    min-width: 700px;
    padding-left: 15px;
    padding-right: 15px;
}/*
.submenu li{
    padding: 8px 0px;
}*/
.submenu.s-row {
    min-width: 250px;
}
.submenu li a {
    font-weight: bold;
    color: #2f367e;
    padding: 13px 18px;
    line-height: 20px;
    text-transform: none;
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}
.submenu li:hover a {
    color: #b93437;
    background-color: #fbe4e5!important;
}
.main-heading{
    width: 100%;
    font-size: 35px;
    text-align: center;
    text-transform: capitalize;
    margin: auto;
    background: #f8966d;
    height: 1px;
    margin-top: 50px;
}
.main-heading div{
    border-bottom: 7px solid #f8608a;
    display: inline;
    position: relative;
    top: -65px;
    padding: 0px 30px 10px 30px;
}
.nav-link{
    color: #fff;
}
.date-icon{
    font-size: 25px;
    border: 3px solid #fdd314;
    padding: 12px 14px;
    border-radius: 24px;
    margin-right: 15px;
}
.location-point-icon{
    font-size: 25px;
    border: 3px solid #05e4ff;
    padding: 12px 14px;
    border-radius: 24px;
    margin-right: 15px;
}
/*.header-location{
    border-radius: 10px;
    box-shadow: 0 -8px 0 0 #374048, 0 -8px 8px 0px rgb(24 28 31), 0 0 0 1px #2f3b47 inset, 0 0 0 1.5px rgb(255 255 255 / 15%) inset;
    background-color: #2f3b47;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}
.header-location::after{
    left: -0.8rem;
    height: 100%;
    width: 0.8rem;
    bottom: -0.4rem;
    transform: skewY(-45deg);
    background: var(--color-secondary-dark);
}*/
.inner-wrapper {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.banner{
    border: 1px solid #000;
    box-shadow: 0px 1px 5px 0px rgb(221 221 221);
    width: 100%;
}
.violet-gradient-bg{
    /*background-image: linear-gradient(to right, #ae5dea , #c58aef);
    opacity: 0.9;*/
    background-color: #0f1e4e;
}
.border-top-violet {
    border-top: 3px #e4c0ff solid;
}
.border-top-green{
    border-top: 3px #4fefcf solid;
}
.border-top-blue{
    border-top: 3px #4c97b2 solid;
}
.border-top-light-grey{
    border-top: 3px #f3f3f3 solid;
}
.border-top-warning{
    border-top: 3px #f5d249 solid;
}
.president-message:before{
    content: '';
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: #e4c0ff;
    left: 16px;
    line-height: 30px;
    display: block;
    top: 45px;
}
#messages .msg_bg{
    animation: fadeIn 1s ease-in both;
    opacity: 0;
}
#messages .msg_bg:nth-child(2) {
    animation-delay: 1.5s;
}
#messages .msg_bg:nth-child(3) {
    animation-delay: 2s;
}
#messages .msg_bg:nth-child(4) {
    animation-delay: 2.5s;
}
.president-message{
    color: #e4c0ff;
    font-size: 18px;
}
.chairman-message:before{
    content: '';
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: #4fefcf;
    left: 16px;
    line-height: 30px;
    display: block;
    top: 45px;
}
.chairman-message{
    color: #4fefcf;
    font-size: 18px;
}
.convenor-message:before{
    content: '';
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: #f3f3f3;
    left: 16px;
    line-height: 30px;
    display: block;
    top: 45px;
}
.convenor-message{
    color: #f3f3f3;
    font-size: 18px;
}
.co-convenor-message:before{
    content: '';
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: #f5d249;
    left: 16px;
    line-height: 30px;
    display: block;
    top: 45px;
}
.co-convenor-message{
    color: #f5d249;
    font-size: 18px;
}
.register-today-btn{
    border-radius: 80px;
    color: #fff !important;
    background: #a553ff;
    /*background-image: linear-gradient(#c67dfb,#6400ad),radial-gradient(circle at left top,#ffa409,#8a15de);
    background-origin: border-box;
    background-clip: padding-box,border-box;
    border: 3px double transparent;*/
    padding: 10px 60px;
    z-index: 99 !important;
}
.social-media-icons{
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}
.social-media-icons li{
    margin: 0px 5px;
    position: relative;
    z-index: 9;
}
.social-media-icons li a{
    width: 31px;
    height: 17px;
    line-height: 17px;
    background-color: #fff;
    display: block;
    font-size: 15px;
    text-align: center;
    transition: .5s;
}
.social-media-icons li a i{
    color: #fff;
}
.social-media-icons li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transform: rotate(60deg);
}
.social-media-icons li a:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transform: rotate(-60deg);
}
.bg-light-grey{
    background: #f3f3f3;
}
.social-media-icons li:nth-child(1) a,
.social-media-icons li:nth-child(1) a:before,
.social-media-icons li:nth-child(1) a:after{
    background: #3b5998;
}
.social-media-icons li:nth-child(2) a,
.social-media-icons li:nth-child(2) a:before,
.social-media-icons li:nth-child(2) a:after{
    background: #ff0000;
}
p.description{
    min-height: 110px;
    max-height: 110px;
    overflow: hidden;
}
/*.social-media-icons li:nth-child(3) a,
.social-media-icons li:nth-child(3) a:before,
.social-media-icons li:nth-child(3) a:after{
    background: #007bb6;
}
.social-media-icons li:nth-child(4) a,
.social-media-icons li:nth-child(4) a:before,
.social-media-icons li:nth-child(4) a:after{
    background: #cb2027;
}*/
/*.hexagon-block{
    position: relative;
    width: 125px;
    height: 150px;
}
.hexagon-shape{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}*/
.messages-bg{
    /*background: -webkit-gradient(linear,left top,right top,from(#4b6cb7),to(#182848));
    background: linear-gradient(90deg,#4b6cb7,#182848);*/
    background-image: url(../images/messages-bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*.msg_bg:after {
    position: absolute;
    content: "";
    background: url(../images/grediant-bg.png);
    height: 350px;
    width: 300px;
    top: 0;
    right: 1.7rem;
    max-height: 100%;
}*/
.borders{
    width: 130px;
    height: 130px;
    border-top: 3px solid #27a4b7;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    padding: 6px;
    border-radius: 100%;
    transform: rotate(35deg);
    margin-left: auto;
    margin-right: auto;
}
.borders img{
    width: 110px;
    height: 110px;
    transform: rotate(-35deg);
}
.leadership-heading-bottom{
    padding-bottom: 130px !important;
}
.leaders-bg{
    background-color: #3f1b69 !important;
}
.leader-block{
    border: 1px solid #f7f7f7 !important;
    border-radius: 5px;
    background-color: #51227f;
    color: #fff;
}
.leader-block img{
    border: 2px solid #cacaca;
}
.leader-name{
    color: #ffc107;
    text-transform: uppercase;
}
.leader-name:hover{
    color: #f3c037;
    text-decoration: none;
}
.leadership-nav-link{
    font-size: 15px;
    cursor: pointer;
}
.leadership_active_tab_btn {
    color: #ffc107 !important;
    font-weight: bold;
}
.leadership-navbar-right-arrow{
    position: absolute;
    right: 10px;
    top: 26px;
}
.hexagon {
    position: relative;
    width: 204px;
    height: 160.21px;
    background-color: #51227f;
    margin: 35px auto;
}
.hexagon img{
    border: 2px solid #cacaca;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    /* top: 10px; */
    border-left: 102px solid transparent;
    border-right: 102px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 50.6px solid #51227f;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 50.6px solid #51227f;
}

.donors-bg{
    background: url(../images/dots.png);
    background-repeat: repeat;
}
.donor-image-height{
    height: 145px;
}
li.donors-nav-item.d-inline-flex{
    padding: 0px 15px;
    cursor: pointer;
}
.donors_active_tab_btn{
    border-bottom: 2px solid red;
}
a.donors-nav-link{
    cursor: pointer;
}

.invitees_bg{
    background-image: url(../images/donors-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.invitee_corner{
    background-image: url(../images/invitee-corner.png);
    background-repeat: no-repeat;
    position: relative;
    background-position: right bottom;
    bottom: 0px;
}
.invitees-left-spacing{
    position: relative;
    left: -50px;
}
.invitees_img{
    width: 145px;
    border: 2px solid #cacaca;
}
.invitees_active_tab_btn {
    color: #e4ff00 !important;
    font-weight: bold;
}
.invitees-nav-link{
    cursor: pointer;
}
.invitees-navbar-right-arrow{
    position: absolute;
    right: 10px;
    padding-top: 3px;
}
.invites-mem-name-n-designation{
    min-height: 90px;
    max-height: 90px;
    color: #e4ff00;
    position: relative;
    left: 25px;
    width: 155px;
}
.home-inviter-name-n-designation:before{
    content: '';
    height: 130px;
    width: 1px;
    position: absolute;
    right: 0;
    top: 83px;
    background-color: #ffffff;
    bottom: 0px;
    left: 30px;
}

.counter-block{
    width: 18%;
    background: url(../images/small-dots.png) repeat center/auto;
    background-color: #dfe8ff;
    border-radius: 15px;
    color: #fff;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}
.counter-width{
    width: 86%;
    background-color: #2a3246;
    padding: 20px;
    border-radius: 0px 14px 14px 0px;
    position: relative;
    left: 34px;
}
.counter-card-bg1{
    background: linear-gradient(45deg,rgba(197,146,249,1) 0%,rgba(172,101,244,1) 100%);
}
.counter-card-bg2{
    background: linear-gradient(45deg,rgba(254,135,86,1) 0%,rgba(172,101,244,1) 100%);
}
.counter-card-bg3{
    background: linear-gradient(45deg,rgba(95,207,185,1) 0%,rgba(38,156,218,1) 100%);
}
.counter-card-bg4{
    background: linear-gradient(45deg,rgba(224,124,196,1) 0%,rgba(186,69,225,1) 100%);
}
.counter-card-bg5{
    background: linear-gradient(47deg,#f9b25e,#f72ba6);
}
.counter-block:after{#5ddd93 0,#27ae60
    content: '';
    position: absolute;
    top: 0;
    right: -11px;
    width: 4px;
    height: 100%;
    background-color: #fff;
}
/*.counter-block-5{
    background-image: url(../images/counting-bg.png) !important;
}*/
.home-donor-name{
    background-color: #343a40 !important;
    min-height: 55px;
}

.event-details{
    cursor: pointer;
}
.event-schedule{
    display: none;
}
.event-details:hover .event-schedule{
    display: block;
}
.event-details:hover .event-time-n-kn{
    position: relative;
    top: 75px;
}
.ed-card .event-time{
    text-align: left;
    padding-left: 10px;
    margin-left: 15px;
}
.event-details .event-km{
    text-align: center;
}
.event-details:hover .event-date1{
    position: absolute;
    top: 118px;
    right: 15px;
    left: 15px;
    padding-bottom: 10px;
    background: #004fcd;
    z-index: 1;
    min-height: 133px;
}
.event-details .event-date1{
    background-color: #004fcd;
}
.ed-card1 .event-time-block{
    background-color: #004fcd;
}
.ed-card1 .event-time{
    border-right: 1px solid #505fd4 !important;
}
.ed-card1 .event-time{
    background-color: #0013a7;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}
.ed-card1 .event-km{
    background-color: #0013a7;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}

/* ed-card2 */

.event-details:hover .event-date2{
    position: absolute;
    top: 118px;
    right: 15px;
    left: 15px;
    padding-bottom: 10px;
    background: #29b445;
    z-index: 1;
}
.event-details .event-date2{
    background-color: #29b445;
}
.ed-card2 .event-time-block{
    background-color: #29b445;
}
.ed-card2 .event-time{
    border-right: 1px solid #22b94e !important;
}
.ed-card2 .event-time{
    background-color: #119d39;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}
.ed-card2 .event-km{
    background-color: #119d39;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}

/* ed-card3 */

.event-details:hover .event-date3{
    position: absolute;
    top: 118px;
    right: 15px;
    left: 15px;
    padding-bottom: 10px;
    background: #f3c50a;
    z-index: 1;
}
.event-details .event-date3{
    background-color: #f3c50a;
}
.ed-card3 .event-time-block{
    background-color: #f3c50a;
}
.ed-card3 .event-time{
    border-right: 1px solid #e9c530 !important;
}
.ed-card3 .event-time{
    background-color: #dab003;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}
.ed-card3 .event-km{
    background-color: #dab003;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}

/* ed-card4 */

.event-details:hover .event-date4{
    position: absolute;
    top: 118px;
    right: 15px;
    left: 15px;
    padding-bottom: 10px;
    background: #f30a67;
    z-index: 1;
}
.event-details .event-date4{
    background-color: #f30a67;
}
.ed-card4 .event-time-block{
    background-color: #f30a67;
}
.ed-card4 .event-time{
    border-right: 1px solid #f35393 !important;
}
.ed-card4 .event-time{
    background-color: #e11264;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}
.ed-card4 .event-km{
    background-color: #e11264;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}

/* ed-card5 */

.event-details:hover .event-date5{
    position: absolute;
    top: 118px;
    right: 15px;
    left: 15px;
    padding-bottom: 10px;
    background: #ca0af3;
    z-index: 1;
}
.event-details .event-date5{
    background-color: #ca0af3;
}
.ed-card5 .event-time-block{
    background-color: #ca0af3;
}
.ed-card5 .event-time{
    border-right: 1px solid #db33ff !important;
}
.ed-card5 .event-time{
    background-color: #8f00ad;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}
.ed-card5 .event-km{
    background-color: #8f00ad;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}


.border-radius-top-right-15{
    border-radius: 15px 15px 0px 0px;
}
.home-vedio-bg{
    background: url(../images/video-bg.png) repeat left top;
}
.video-icon-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../images/video-icon.png) no-repeat center center;
    z-index: 1;
    -webkit-transition: all 0.4s ease-out;
    -mz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

/* Registration Page */

/*.table-responsive {
    white-space: nowrap;
}*/
.flower-list {
    padding-left: 0px;
}
.flower-list li {
    background: url(../images/flower-icon.png) no-repeat left 3px;
    padding-left: 28px;
    padding-bottom: 10px;
    list-style: none;
}
th{
    font-size: 16px;
}
td{
    font-size: 15px;
}
.browse-button {
    background: url(../images/browse-icon.png) no-repeat scroll center center;
    cursor: pointer;
    min-height: 136px;
}
.browse {
    height: 100%;
    margin-left: 0;
    opacity: 0;
    min-height: 136px;
    cursor: pointer;
}
.p-radio-btn {
    position: absolute;
    top: 2px;
}
.registration-captcha-block{
    border: #dbdbdb 1px solid;
    background-color: #fcfcfc;
    padding: 3px 5px 5px 10px;
}
.captcha-img{
    width: 120px;
    height: 33px;
}
.input-checkbox{
    position: absolute;
    top: 6px;
}

/* Leadership Inner Pages */

.leadership-heading-bg{
    background-image: linear-gradient(to top, #e9e9e9, #fff);
}
.convention-leaders-bg{
    background-color: #eff8fb;
    border: 2px solid #e0eef2;
    padding: 5px;
    border-radius: 5px;
}
.convention-leaders-bg img{
    border: 2px solid #d4e9ef;
    border-radius: 5px !important;
}
.committee-categories-bg{
    background-color: #794d9a;
    border-radius: 10px;
    padding: 12px 20px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.committee-categories-bg:hover{
    background-color: #ff4b7a;
    color: #fff;
}
.cc-icon{
    display: inline-block;
    vertical-align: middle;
}
.cc1-icon {
    background: url(../images/sprite1.png) no-repeat -37px -75px;
    width: 30px;
    height: 29px;
}
.cc2-icon {
    background: url(../images/sprite1.png) no-repeat -112px -75PX;
    width: 26px;
    height: 30px;
}
.cc3-icon {
    background: url(../images/sprite1.png) no-repeat -95px -35px;
    width: 31px;
    height: 29px;
}
.phone-stiff {
    background-color: #9c6ebe;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 8px 50px 8px 24px;
    color: #fff;
    display: inline-block;
    margin-top: 5px;
}

/* Programs Inner Pages */

.stock-investment-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.youth-activity-registration-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}

/* Events Innner Pages */

.events-tabslist li.rightborder2 {
    background: url(../images/double-curves1.png) scroll no-repeat right center;
    display: inline-block;
    padding: 0px 22px 0px 0px;
    float: left;
}
.events-tabslist li a {
    border: #ff981b 1px solid;
    color: #242424;
    padding: 12px 22px;
    display: block;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
.events-tabslist li:hover a, .events-tabslist li.active a {
    background-color: #ff981b;
    color: #fff !important;
    border: 1px solid transparent;
    text-decoration: none;
}
.events-tabslist li.rightborder2:last-child {
    background: none!important;
    padding: 0px 0px 0px 0px;
}
.event_active_tab_btn {
    background: #ff981b;
    color: #fff !important;
}
.icon-positions{
    position: absolute;
    left: 45px;
}

/* Calender */

.border-left-2-violet{
    border-left: 2px solid #784d98;
}
.calender-events-schedule{
    height: 650px;
    overflow-y: auto;
}
.calender-events-schedule:hover{
    cursor: pointer;
}

.calender-events-schedule::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
}

/* Track */
.calender-events-schedule::-webkit-scrollbar-track {
    background: #f8e8e5;
}

/* Handle */
.calender-events-schedule::-webkit-scrollbar-thumb {
    background: #ffaf02;
}

/* Handle on hover */
.calender-events-schedule::-webkit-scrollbar-thumb:hover {
    background: #ffae00;
}

/* Business Plan Competition */

.business-plan-competition-list li{
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.business-list li {
    background: url(../images/list-icon-sub.png) no-repeat scroll left 5px;
    padding-left: 25px;
    padding-bottom: 5px;
}
.business-plan-competition-terms-n-conditions{
    max-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 20px;
}
.business-plan-competition-terms-n-conditions::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
}

/* Track */
.business-plan-competition-terms-n-conditions::-webkit-scrollbar-track {
    background: #f8e8e5;
}

/* Handle */
.business-plan-competition-terms-n-conditions::-webkit-scrollbar-thumb {
    background: #ffaf02;
}

/* Handle on hover */
.business-plan-competition-terms-n-conditions::-webkit-scrollbar-thumb:hover {
    background: #ffae00;
}

/*Business Interest-Group Committee */

.comlist1 .divv:nth-child(2n+1) {
    border-left: #d3acef 2px solid;
    border-right: #d3acef 2px solid;
    border-top: #e0ceee dashed 1px;
}
.comlist1 .divv .comlist2 .divv {
    border-right: #e0ceee dashed 1px;
    width: 33.3333%;
    border-top: none;
    border-left: none;
    border-bottom: #e0ceee dashed 1px;
}

/* Conevtion Details */

.convention-details-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.convention-details-list-li-arrow li {
    background: url(../images/list-icon-sub.png) no-repeat scroll left 5px;
    padding-left: 25px;
    padding-bottom: 5px;
}

/* Exhibits Page */

.exhibits-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.form-control.donatein {
    font-size: 28px;
    color: #f89912;
}
.donatein:focus{
    box-shadow: none;
}

/* Matromony */

.matrimony-details-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}

/* Miss NRIVA Mrs NRIVA Details */

.miss-nriva-mrs-nriva-details-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.miss-nriva-mrs-nriva-details-list-li-arrow li {
    background: url(../images/list-icon-sub.png) no-repeat scroll left 5px;
    padding-left: 25px;
    padding-bottom: 5px;
}

/* Shathamanam Bhavathi Reg */

.shathamanam-bhavathi-reg-terms-n-conditions{
    max-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 20px;
}

.shathamanam-bhavathi-reg-terms-n-conditions::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
}

/* Track */
.shathamanam-bhavathi-reg-terms-n-conditions::-webkit-scrollbar-track {
    background: #f8e8e5;
}

/* Handle */
.shathamanam-bhavathi-reg-terms-n-conditions::-webkit-scrollbar-thumb {
    background: #ffaf02;
}

/* Handle on hover */
.shathamanam-bhavathi-reg-terms-n-conditions::-webkit-scrollbar-thumb:hover {
    background: #ffae00;
}
.input-group-addon {
    padding: 7.5px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    position: relative;
    top: -2px;
    height: 46px;
    left: 7px;
    margin-left: -3px;
    cursor: pointer;
}
.dob-input{
    width: 175px !important;
    height: 36px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.dob-input:focus{
    outline: none !important;
}

/* Youth Banquet Details */

.youth-banquet-details-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}

/* Venue Details */

.venue-btns{
    padding: 9px 10px 9px 15px;
    border: 2px solid #9371ad;
    border-radius: 5px;
    margin-bottom: 16px;
}
.venue-btns:hover{
    border: 2px solid #fff;
}

/* Hotels Details */

.bg-skyblue{
    background-color: #e3f2ff;
}
.bg-light-orange{
    background-color: #fff4e3;
}

/* Attractions Details */

.attractions-details-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}

/* Business Speakers Details */

.speaker-name:after {
    content: '';
    position: absolute;
    top: 65px;
    width: 0;
    height: 0;
    border-top: 20px solid #784d98;
    border-right: 20px solid transparent;
    right: 7%;
}
.speakers-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.speakers-details-height {
    height: 148px;
    overflow: hidden;
}
.speakers-more-details {
    padding: 0px 16px;
    display: block;
    margin-top: 15px;
    text-align: right;
    color: #3a226e;
    cursor: pointer;
    background: transparent;
    border: none;
    margin-bottom: 3px;
    font-size: 16px;
}

footer{
    background: #253053;
    color: #fff;
}
footer h5:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: red;
    opacity: 0.2;
    left: -11px;
    top: -11px;
}
footer .registration-block{
    padding: 35px 20px;
    border-right: 1px solid #2f3f71;
}
footer .leadership-block{
    padding: 30px 20px;
}
footer ul li {
    padding-bottom: 10px;
    font-size: 16px;
}
footer ul li a {
    color: #a19c9c;
}
footer ul li a:hover {
    color: #a19c9c;
    text-decoration: none;
}
.copy-right-section{
    background: #253053;
    border-top: 1px solid #2f3f71;
    padding: 35px 10px;
}
.copy-right-section{
    color: #fff;
    font-size: 16px;
}
@media (min-width: 992px){
    .col-lg-20 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-lg-18 {
        -ms-flex: 0 0 18% !important;
        flex: 0 0 18% !important;
        max-width: 18% !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .py-lg-12{
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .mt_lg_-3{
        margin-top: -3px;
    }
    .mt-lg-125{
        margin-top: 125px !important;
    }
    .leadership-bg {
        background-image: url(../images/leadership-bg-2.png);
        background-repeat: no-repeat;
        position: relative;
        left: 5px;
        height: 500px;
    }
    .leadership-bg-top{
        position: relative;
        margin-top: -87px;
    }
}
@media (max-width: 991px){
    .president-message:before {
        top: 20px;
    }
    .chairman-message:before {
        top: 20px;
    }
    .convenor-message:before {
        top: 20px;
    }
    .co-convenor-message:before {
        top: 20px;
    }
    .phone-stiff {
        display: none;
    }
}

@media (max-width: 768px){
    .messages-bg{
        background: linear-gradient(47deg,#110a27,#4c2252);
    }
    .msg_bg:after {
        right: 2.7rem;
    }
    .leadership-navbar-right-arrow, .invitees-navbar-right-arrow{
        display: none;
    }
    .leadership-tabs-ul, .invitees-tabs-ul{
        display: -webkit-box;
        overflow-x: auto;
    }
    .leadership-tabs-ul::-webkit-scrollbar, .invitees-tabs-ul::-webkit-scrollbar{
        display: none;
    }
    .leadership-tabs-ul, .invitees-tabs-ul{
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .leadership-nav-item, .invitees-nav-item{
        padding-right: 40px;
    }
    canvas {
        top: 65%;
    }
    .border-right-md-0{
        border-right: 0px !important;
    }

    .leadership-bg {
        background: linear-gradient(47deg,#131337,#2e2e7e);
        padding-bottom: 50px;
        left: 0px;
    }
    .event-details:hover .event-date1, .event-details:hover .event-date2, .event-details:hover .event-date3, .event-details:hover .event-date4, .event-details:hover .event-date5 {
        position: absolute;
        top: 109px;
    }
    .ed-card1 .event-time, .ed-card1 .event-km {
        height: 59px;
        font-size: 12px;
        line-height: 20px;
    }
    .ed-card2 .event-time, .ed-card2 .event-km {
        height: 59px;
        font-size: 12px;
        line-height: 20px;
    }
    .ed-card3 .event-time, .ed-card3 .event-km {
        height: 59px;
        font-size: 12px;
        line-height: 20px;
    }
    .ed-card4 .event-time, .ed-card4 .event-km {
        height: 59px;
        font-size: 12px;
        line-height: 20px;
    }
    .ed-card5 .event-time, .ed-card5 .event-km {
        height: 59px;
        font-size: 12px;
        line-height: 20px;
    }

    /*.leader-block {
        height: 100px;
    }*/

    .donor-mage-height {
        height: auto;
    }

    .counter-block {
        width: 30% !important;
    }
    .counter-width {
        width: 85% !important;
    }
}

@media (max-width:  767px){
    .px-sm-20{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .horizontal-scroll {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .horizontal-scroll::-webkit-scrollbar {
        display: none;
    }
    .horizontal-scroll {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .event-details:hover .event-date1, .event-details:hover .event-date2, .event-details:hover .event-date3, .event-details:hover .event-date4, .event-details:hover .event-date5 {
        position: absolute;
        top: 254px;
    }
    .event-details:hover .event-time-n-kn {
        position: relative;
        top: 111px;
        z-index: 1;
        margin-bottom: 115px;
    }

    .counter-block {
        width: 45% !important;
    }
    .counter-width {
        width: 86% !important;
    }

    .mobile-events-tabslist{
        border: #e2e2e2 1px solid;
        background-color: #f7f7f7;
        text-align: center;
        padding: 10px;
    }
    .mobile-events-tabslist a{
        color: #000;
        font-size: 15px;
    }
    .event_active_tab_btn {
        background: none !important;
        color: #000 !important;
    }

    footer .registration-block {
        border-right: 0px solid #2f3f71;
    }
}
@media (max-width: 640px){
    .mobile-l-h20 {
        line-height: 20px;
    }
    .mobile-p10 {
        padding: 10px;
    }
    .leadership-heading-bottom {
        padding-bottom: 20px !important;
    }
    .leadership-bg-top{
        position: relative;
        margin-top: -15px;
    }
    .invitees-left-spacing {
        position: relative;
        left: 0px;
    }
    .speaker-name:after{
        display: none!important;
        visibility: hidden!important;
    }
}
@media (max-width: 576px){
    .fs-xs-11{
        font-size: 11px;
    }
    .fs-xs-15{
        font-size: 15px;
    }
    canvas {
        top: 100%;
    }
    .main-heading div{
        top: -58px;
        font-size: 18px;
    }
    .invites-mem-name-n-designation {
        width: auto;
    }
    .leadership-bg{
        background: linear-gradient(47deg,#131335,#2b2b77);
        padding-bottom: 50px;
        left: 0px;
    }
    .event-details:hover .event-date1, .event-details:hover .event-date2, .event-details:hover .event-date3, .event-details:hover .event-date4, .event-details:hover .event-date5 {
        position: absolute;
        top: 164px;
    }
    .event-details:hover .event-time-n-kn {
        position: relative;
        top: 130px;
        z-index: 1;
        margin-bottom: 130px;
    }
    .ed-card1 .event-time, .ed-card1 .event-km {
        height: 59px;
        font-size: 10px;
        line-height: 20px;
    }
    .ed-card2 .event-time, .ed-card2 .event-km {
        height: 59px;
        font-size: 10px;
        line-height: 20px;
    }
    .ed-card3 .event-time, .ed-card3 .event-km {
        height: 59px;
        font-size: 10px;
        line-height: 20px;
    }
    .ed-card4 .event-time, .ed-card4 .event-km {
        height: 59px;
        font-size: 10px;
        line-height: 20px;
    }
    .ed-card5 .event-time, .ed-card5 .event-km {
        height: 59px;
        font-size: 10px;
        line-height: 20px;
    }
    .leader-block {
        margin-left: 15px;
        margin-right: 15px;
    }
    .counter-block {
        margin-right: 0px;
        margin-left: 0px;
        width: 100% !important;
    }
    .counter-width {
        width: 91% !important;
    }
    footer .leadership-block {
        padding: 0px 20px 30px 20px;
    }
}
@media (max-width: 420px){
    .event-details:hover .event-date1, .event-details:hover .event-date2, .event-details:hover .event-date3, .event-details:hover .event-date4, .event-details:hover .event-date5 {
        position: absolute;
        top: 189px;
    }
}

@media (max-width: 360px){
    .event-details:hover .event-date1, .event-details:hover .event-date2, .event-details:hover .event-date3, .event-details:hover .event-date4, .event-details:hover .event-date5 {
        position: absolute;
        top: 163px;
    }
}
@media (min-width: 768px){
    .col-md-30 {
        -ms-flex: 0 0 30.333333% !important;
        flex: 0 0 30.333333% !important;
        max-width: 30.333333% !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
@media (max-width: 576px){

}
