.top-layer-bg {
    background: -webkit-linear-gradient(135deg, #fb5f12 40%, #002059 40%);
    background: -o-linear-gradient(135deg, #fb5f12 40%, #002059 40%);
    background: -moz-linear-gradient(135deg, #fb5f12 40%, #002059 40%);
    background: linear-gradient(135deg, #fb5f12 40%, #002059 40%);
    height: 45px;
    line-height: 30px;
}
.logo{
    height: 110px !important;
    width: 110px !important;
}
.web-name{
    font-size: 30px;
}
.bottom-layer-bg {
    background: -webkit-linear-gradient(135deg, #002059 60%, #fb5f12 40%);
    background: -o-linear-gradient(135deg, #002059 60%, #fb5f12 40%);
    background: -moz-linear-gradient(135deg, #002059 60%, #fb5f12 40%);
    background: linear-gradient(135deg, #002059 60%, #fb5f12 40%);
}
.carousel-indicators li {
    border-radius: 100%;
    width: 8px;
    height: 8px;
}

/* menu css */

.submenu.l-menu {
    min-width: 700px;
    padding-left: 15px;
    padding-right: 15px;
}/*
.submenu li{
    padding: 8px 0px;
}*/
.submenu.s-row {
    min-width: 250px;
}
.submenu li a {
    font-weight: bold;
    color: #2f367e;
    padding: 13px 18px;
    line-height: 20px;
    text-transform: none;
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}
.submenu li:hover a {
    color: #b93437;
    background-color: #fbe4e5!important;
}

.main-heading {
    background: #f9a565;
    height: 1px;
    margin-bottom: 45px;
    text-align: center;
}
.main-heading span{
    position: relative;
    top: -16px;
    font-size: 23px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    background: linear-gradient(47deg,#f9b25e,#f72ba6);
    padding: 10px 40px;
    border-radius: 50px;
}

/* Event Schedule */

.schedule-date-bg{
    background: linear-gradient( 318deg,rgba(197,146,249,1) 0%,rgba(172,101,244,1) 100%);
}
.schedule-date-bg-dots-img{
    width: 100%;
    height: 100%;
    background: url(../images/dots-img.png) scroll no-repeat;
    background-position: right -75% bottom -35%;
}
.schedule-date-before-triangle:before{
    position: absolute;
    left: -8px;
    top: 0px;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 16px solid #c490f9;
    border-left: 16px solid transparent;
}
.icon1 {
    background: url(../images/calender-bg.png) scroll no-repeat;
    background-position: center;
}
.schedule-location-bg{
    background: linear-gradient(45deg,rgba(254,135,86,1) 0%,rgba(172,101,244,1) 100%);
}
.location-before-triangle:before{
    position: absolute;
    left: -8px;
    top: 0px;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 16px solid #d175ac;
    border-left: 16px solid transparent;
}
.location-bg-dots-img {
    width: 100%;
    height: 100%;
    background: url(../images/dots-img.png) scroll no-repeat;
    background-position: right -15% top -60%;
}
.icon2 {
    background: url(../images/location-point.png) scroll no-repeat;
    background-position: center;
}
.schedule-register-before-triangle:before{
    position: absolute;
    left: -8px;
    top: 0px;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 16px solid #3cafce;
    border-left: 16px solid transparent;
}
.schedule-register-bg{
    background: linear-gradient(45deg,rgba(95,207,185,1) 0%,rgba(38,156,218,1) 100%);
}
.register-today-btn {
    border-radius: 80px;
    color: #fff !important;
    border: 2px solid #5fcfba;
    background: #3bafcf;
    padding: 10px 60px;
    z-index: 99 !important;
}

/* President Message */

.president-msg-bg{
    background: linear-gradient(45deg,rgba(224,124,196,1) 0%,rgba(186,69,225,1) 100%);
    border: 4px solid #fff;
}
.president-message-after-bg:after{
    position: absolute;
    left: 0px;
    top: -10%;
    content: '';
    width: 100%;
    height: 100%;
    background: url(../images/bg-circles.png) scroll no-repeat 105%;
}
.president-message-border:before {
    border-top: 5px solid #fb5f12;
    top: 0;
}
.president-message-border:after {
    border-bottom: 5px solid #fb5f12;
    bottom: 0;
}
.president-message-border:before,
.president-message-border:after {
    content: "";
    width: 200px;
    height: 25px;
    border-right: 5px solid #fb5f12;
    position: absolute;
    left: 0;
    z-index: -1;
}
.president-message-border {
    border-left: 5px solid #fb5f12;
    padding: 0px 0 0px 18px;
    position: relative;
    left: 95px;
}

/* Advisory Council */

.advisory_council_bg{
    background-image:url(../images/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.advisory_council_bg:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:url(../images/bg-brown-dots.png);
    background-repeat: no-repeat;
    left: 91.5%;
    top: 112%;
    z-index: -1;
}
#myelement img{
    border-radius: 10px;
}
#myelement {
    position: relative;
    overflow: hidden;
    padding: 30px;
}
#myelement::before {
    content: "";
    position: absolute;
    width: 130px;
    height: 130px;
    left: 37px;
    z-index: -1;
    background: #fd8448;
    transform: rotate(-18deg);
    border-radius: 10px;
}

/* Founding Members */

.founding-member img{
    border-top: 3px solid #002059;
    border-right: 3px solid #002059;
    border-bottom: 3px solid #fb5f12;
    border-left: 3px solid #fb5f12;
}

/*.founding-member:hover{
    -webkit-box-shadow: 0px 0px 32px 0px rgb(32 57 239 / 23%);
    -moz-box-shadow: 0px 0px 32px 0px rgb(32 57 239 / 23%);
    box-shadow: 0px 0px 32px 0px rgb(32 57 239 / 23%);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    top: -20px;
}*/

/*.hexagon-shape-orange::after{
    content: "";
    position: absolute;
    background: url(../images/hexagon-orange.png);
    background-repeat: no-repeat;
    left: 75%;
    top: 24%;
    opacity: 1;
    z-index: -1;
    width: 100%;
    height: 100%;
}*/

/*.hexagon-shape-blue::before{
    content: "";
    position: absolute;
    background: url(../images/hexagon-blue.png);
    background-repeat: no-repeat;
    left: -6%;
    top: 35%;
    opacity: 1;
    z-index: -1;
    width: 100%;
    height: 100%;
}*/

/* Founding Members */

/* Executive Committee */

.executive-comite {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    height: 270px;
}
.executive-comite img{
    box-shadow: 1px 1px 10px grey;
    border: 1px solid #fff;
    padding: 2px;
    background: #efefef;
}
.executive-comite:hover{
    cursor: pointer;
}
/*.executive-comite:hover img{
    -webkit-box-shadow: 0px 10px 25px #6733ce;
    -moz-box-shadow: 0px 10px 25px #6733ce;
    box-shadow: 0px 10px 25px #6733ce;
}*/

/* Board of Directors */

.bod-img{
    border-radius: 100%;
    background: #fdfdfe;
    padding: 5px;
    border: 3px solid #0b3355;
    height: 150px;
}

/* Standing Committe Members */

.standing-committe-member-block{
    box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 30%);
    padding: 15px;
    border-radius: 10px;
    height: 300px;
    background: #fff;
}
.see_more_arrow{
    top: 1px;
    position: relative;
    right: 0px;
}

/* Events */

.event-block{
    position: relative;
    top: -15px;
    background: #fff;
    border-radius: 0px 0px 10px 10px;
}
.events-more-details-btn{
    background: linear-gradient( 47deg,#f9b25e,#f72ba6);
    color: #fff;
    border: none;
}
.events-more-details-btn:hover{
    color: #fff !important;
}

/* Registration Page */

/*.table-responsive {
    white-space: nowrap;
}*/
.flower-list {
    padding-left: 0px;
}
.flower-list li {
    background: url(../images/flower-icon.png) no-repeat left 3px;
    padding-left: 28px;
    padding-bottom: 10px;
    list-style: none;
}
th{
    font-size: 16px;
}
td{
    font-size: 15px;
}
.browse-button {
    background: url(../images/browse-icon.png) no-repeat scroll center center;
    cursor: pointer;
    min-height: 136px;
}
.browse {
    height: 100%;
    margin-left: 0;
    opacity: 0;
    min-height: 136px;
    cursor: pointer;
}
.p-radio-btn {
    position: absolute;
    top: 2px;
}
.registration-captcha-block{
    border: #dbdbdb 1px solid;
    background-color: #fcfcfc;
    padding: 3px 5px 5px 10px;
}
.captcha-img{
    width: 120px;
    height: 33px;
}
.input-checkbox{
    position: absolute;
    top: 6px;
}

.signin-btn:focus{
    outline: none;
    box-shadow: none;
}

/* Calender */

.border-left-2-violet{
    border-left: 2px solid #784d98;
}
.calender-events-schedule{
    height: 650px;
    overflow-y: auto;
}
.calender-events-schedule:hover{
    cursor: pointer;
}

.calender-events-schedule::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
}

/* Track */
.calender-events-schedule::-webkit-scrollbar-track {
    background: #f8e8e5; 
}
 
/* Handle */
.calender-events-schedule::-webkit-scrollbar-thumb {
    background: #ffaf02;
}

/* Handle on hover */
.calender-events-schedule::-webkit-scrollbar-thumb:hover {
    background: #ffae00;
}

/* Hotels Details */

.bg-skyblue {
    background-color: #e3f2ff;
}

.bg-light-orange {
    background-color: #fff4e3;
}

/* Venue Details */

.venue-btns{
    padding: 9px 10px 9px 15px;
    border: 2px solid #9371ad;
    border-radius: 5px;
    margin-bottom: 16px;
}
.venue-btns:hover{
    border: 2px solid #fff;
}
.img-b {
    border: #dadad9 1px solid;
}

footer{
    background-color: #101f43;
}
footer ul li {
    padding-bottom: 10px;
    font-size: 16px;
}
footer ul li a{
    color: #fff;
}
.inputWithIcon {
    position: relative;
}
.inputWithIcon i {
    position: absolute;
    left: 0;
    top: 3px;
    padding: 9px 8px;
    color: #eba944;
    transition: 0.3s;
}
.inputWithIcon input[type="text"]:focus + i {
    color: rgb(255, 255, 255);
}
i.fas.fa-long-arrow-alt-right {
    position: absolute;
    right: 0;
    left: auto;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
}
.footer-form-control{
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    padding-left: 0px;
}
.footer-form-control:focus{
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
    outline: 0;
    box-shadow: none;
}
.copy-right-bg{
    background: #fb5f12;
}

@media (max-width:320px){
    .web-name{
        font-size: 13px !important;
    }
    .helpline{
        font-size: 13px !important;
    }
}

@media (max-width:576px){
    .web-name{
        font-size: 14px !important;
    }
}

@media (max-width:768px){
    .web-name{
        font-size: 25px;
    }
    .president-message-border {
        left: 55px !Important;
    }
    .advisory_council_bg{
        background-image:none;
    }
    .advisory_council_bg:after{
        background-image:none;
    }
}

@media (max-width:767px){
    .president-message-border {
        border-left: 0px solid !important; 
        padding: 0px 0 0px 0px !important; 
        position: relative;
        left: 0px !important; 
    }
    .president-message-border:before, .president-message-border:after {
        content: "";
        width: 200px;
        height: 25px;
        border-right: 0px solid !important;
    }  
    .president-message-border:before {
        border-top: 0px solid #000 !important;
    }  
    .president-message-border:after {
        border-bottom: 0px solid #000 !important;
    }
    .top-layer-bg {
        height: 80px;
        line-height: 30px;
    }
}

@media (min-width:577px) and (max-width:767px) {
    #myelement::before {
        content: "";
        position: absolute;
        width: 130px;
        height: 130px;
        left: 55px;
    }
}

@media (max-width: 991px){
    .schedule-register-before-triangle:before{
        display: none;
    }
    .location-before-triangle:before{
        display: none;
    }
    .schedule-date-before-triangle:before{
        display: none;
    }
}

@media (min-width: 992px){
    .col-lg-20 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .py-lg-63point5{
        padding-top: 63.5px !important;
        padding-bottom: 63.5px !important;
    }
    .py-lg-70{
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }
    .py-lg-75{
        padding-top: 75px !important;
        padding-bottom: 75px !important;
    }
}

@media (width:768px) and (height:1024px) {
    #myelement::before {
        content: "";
        left: 70px;
    }
}

@media (width:1024px) and (height:768px) {
    #myelement::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 112px;
        left: 24px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .navbar .navbar-nav > li > a.nav-link {
        color: #fff;
        font-size: 20px;
        padding: 5px 15px;
    }
}

@media (max-width: 576px){
    #myelement::before {
        width: 44% !important;
        height: 68% !important;
        top: 16% !important;
        left: 27.5% !important;
    }
}